input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.theme-btn-r
{
    background-color: black !important;
    padding: 10px 20px !important;
}

.legend{
    margin: 10px;
    width: fit-content;
    opacity: 0.5;
    font-size: 16px;
    padding: 0px 10px;
  }
  
.fieldset{
    border: 3px solid #1819284f;
    padding: 0px 30px;
    margin:10px 0px;
  }
.big-header
{
  font-size: 35px;
  opacity: 0.1;
  font-weight: bold;
}
.header-desc
{
  margin-top: -10px;
  margin-left: 20px;
}
.hidden
{
  opacity:0;
}

.img-holder
{
  width:200px;
  height:250px;
}